extends ../../layouts/default
include ../../mixins/table-tree.pug
include ../../mixins/alert.pug

block main
    +alert-succes(5000)
    h1 Trang danh sách nhóm quyền 

    .card.mb-3 
        .card-header Danh sách nhóm quyền
            .card-body
                .row 
                    .col-10
                    .col-2
                        a(
                            href=`${prefixAdmin}/roles/create`
                            class="btn btn-outline-success"
                        ) + Thêm mới 
                
                table(
                    class="table table-hover table-sm"
                    ) 
                
                    thead 
                        tr
                            th STT
                            th Nhóm quyền 
                            th Mô tả
                            th Hành động 
                    tbody
                        if(records.length > 0)
                            each item, index in records     
                                tr
                                    td #{index + 1}
                                    td #{item.title}
                                    td #{item.description}
                                    td 
                                        a(
                                            href=`${prefixAdmin}/products-category/edit/${item.id}`
                                            class="btn btn-warning btn-sm"
                                        ) Sửa
                                        button(
                                            class="btn btn-danger btn-sm ml-1"
                                            data-id = item.id
                                            button-delete
                                        ) Xóa
                                        a(
                                            href=`${prefixAdmin}/products-category/detail/${item.id}`
                                            class="btn btn-secondary btn-sm ml-1"
                                        ) Chi tiết

    //- form(
    //-     action=""
    //-     method="POST"
    //-     id="form-delete-item"
    //-     data-path = `${prefixAdmin}/products-category/delete`
    //- )

    //- script(src="/admin/js/products-category.js") 