extends ../../layouts/default
    
block main 
    link(rel='stylesheet', type='text/css', href='/admin/css/my-account/index.css')

    h1(class="mb-4") Thông tin cá nhân 
    div(class="body")
        div(class="inner-image")
            if(user.avatar)
                img(src=user.avatar width="150px" class="mb-3", alt="Avatar")
            else 
                img(src="/admin/images/avataruser.png" width="150px", alt="Ảnh lỗi")
        div(class="inner-content")
            if(user.fullname)
                p Họ tên: <b>#{user.fullname}</b>

            if(user.email)
            p Email: <b>#{user.email}</b>

            p 
                span Trạng thái:
                span 
                    <b> #{user.status == "active" ? "Hoạt động" : "Dừng hoạt động"} </b>

            if(role.title)
                p Phân quyền: <b>#{role.title}</b>

            a(
                href=`${prefixAdmin}/my-account/edit`
                class="btn btn-primary btn-sm"
            ) Chỉnh sửa thông tin cá nhân
    
    
    
